*{
    padding: 0;
    margin: 0;
}

.gall{
    width: 100%;
    height: 600px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.gall::-webkit-scrollbar{
    display: none;
}

.item{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.content{
    width: 100%;
    height: 1000px;
    background-color: bisque;
}