*{
    padding: 0;
    margin: 0;
}

ul li{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100%;
}

/* 헤더 영역 */
.header_area{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

header{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 100px;
    cursor: pointer;
}

nav{
    width: 800px;
    height: 100%;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
}

.menu li{
    width: 200px;
    height: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
}

.sgin_area{
    width: 200px;
    height: 100%;
    display: flex;
}

.sgin_area label{
    width: 100px;
    height: 100%;
    font-size: 22px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    display: block;
}

/* 로그인 모달 */
.login_modal_back{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.login_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 430px;
    background-color: #fff;
}

.login_modal h1{
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.login_modal p{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.login_modal input{
    width: 440px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid black;
    font-size: 18px;
}

.login_modal a{
    text-decoration: underline;
    color: blue;
    font-size: 18px;
    line-height: 50px;
}

.login_modal button{
    display: inline-block;
    margin: 5px;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.login_modal label{
    display: block;
    cursor: pointer;
}

#login:checked~.login_modal_back{
    display: block;
}
/* 로그인 모달 */
/* 회원가입 모달 */
.join_modal_back{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.join_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 630px;
    background-color: #fff;
}

.join_modal h1{
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.join_modal p{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.join_modal input{
    width: 440px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid black;
    font-size: 18px;
}

.captcha{
    width: 450px;
    height: 50px;
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha img{
    width: 300px;
    height: 50px;
    border: 1px solid black;
}

.captcha_btn{
    width: 120px;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;    
}

.join_modal button{
    display: inline-block;
    margin: 5px;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.join_modal label{
    display: block;
    cursor: pointer;
}

#join:checked~.join_modal_back{
    display: block;
}
/* 회원가입 모달 */
/* 헤더 영역 */
/* Up comming 영역 */
.visual{
    width: 100%;
    height: 850px;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    animation: infinite linear 10s slider;
}

.slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slide_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.slide_txt h1{
    font-size: 52px;
}

.slide_txt p{
    font-size: 18px;
}

.slide button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

@keyframes slider{
    0%, 23%{left: 0;}
    33%, 56%{left: -100%;}
    66%, 90%{left: -200%;}
    100%{left: -300%;}
}
/* Up comming 영역 */
/* Best 축제 영역 */
.best_festa_area{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    position: relative;
}

.best_festa_area h1{
    position: absolute;
    left: 240px;
    top: 40px;
}

.best_festa{
    margin-top: 100px;
    width: 1440px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.festa_card{
    position: relative;
    width: 690px;
    height: 200px;
    margin: 15px;
    display: flex;
}

.festa_card img{
    width: 220px;
    height: 200px;
    border-radius: 15px;
}

.title{
    margin-top: 5px;
}

.title span{
    padding: 5px;
    background-color: #FF8484;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.festa_card p{
    padding: 10px;
    font-weight: 600;
}

.festa_card button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 5px;
}

.festa_card label{
    display: block;
}

/* 축제 모달창 */
.festa_modal_back{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.festa_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1440px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.festa_modal img{
    width: 900px;
    height: 600px;
}

.festa_modal_txt{
    position: relative;
    width: 520px;
    height: 600px;
    padding-left: 20px;
}

.festa_modal_txt label, .close_modal{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
}

.festa_modal_txt h1{
    margin-top: 120px;
}

.festa_modal_txt p{
    padding: 5px;
}

.festa_modal_txt div{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.festa_modal_txt > div > button{
    padding: 5px;
    border-radius: 5px;
    background-color: #FF8484;
    color: #fff;
    border: none;
}

#festa:checked~.festa_modal_back{
    display: block;
}
/* 축제 모달창 */
/* Best 축제 영역 */
/* 축제 찾기 영역 */
.search_area{
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    background-color: beige;
}

.search_area h1{
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.search{
    margin-top: 50px;
    width: 1440px;
    height: 800px;
}

.search_box{
    position: relative;
    width: 100%;
    height: 150px;
}

.search_box input{
    padding-left: 10px;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.search_box select{
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.content{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 450px;
    height: 250px;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
}

.card img{
    margin-left: 100px;
    width: 250px;
    height: 250px;
}

.card h3{
    margin-top: 20px;
    padding: 5px;
}

.card p{
    margin-top: 10px;
    padding: 5px;
}

.card button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    font-weight: 900;
    float: right;
}

.search_btn_area{
    width: 1440px;
    height: 60px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.prev, .next{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 600px;
    display: flex;
}

.modal-content img{
    width: 600px;
    height: 600px;
    border-radius: 10px;
}

.modal-content h1{
    margin-top: 25px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.modal-content p{
    padding: 10px;
    padding-left: 30px;
    font-size: 18px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
}

.modal_btn_area{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 300px;
}

.modal_btn_area button{
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid black;

}
/* 축제 찾기 영역 */

/* 푸터 영역 */
.footer_area{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
}

footer{
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    color: #555;
    align-items: center;
}

.logo{
    width: 300px;
    height: 150px;
    line-height: 150px;
}

footer p{
    font-size: 20px;
}

.icon_area{
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 100px;
    height: 110px;
}

.icon img{
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}

.icon img:hover{
    transition: all 0.5s;
    filter: grayscale(0);
}

.icon p{
    width: 100px;
    height: 10px;
    font-size: 11px;
    text-align: center;
}
/* 푸터 영역 */