*{
    padding: 0;
    margin: 0;
}

ul li{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    width: 100%;
    height: 100px;
    background-color: #eee
}

.content_area{
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.content_area h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

.content{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 1000px;
}

.search-box{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input{
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

.search-box select{
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

.map-img{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.table{
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
}

table{
    border-collapse: collapse;
}

th{
    background-color: #eee;
}

td, th{
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

td > button{
    border: 1px solid black;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.table-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.table-btn button{
    width: 80px;
    height: 30px;
    border: 1px solid black;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
}