*{
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 10px;
}

.carousel-container {
    width: 300px;
    height: 200px;
    display: flex;
    overflow: auto;
}

.x-scroll {
    scroll-snap-type: x mandatory;
}

.y-scroll {
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.item {
    position: relative;
    width: 300px;
    height: 200px;
    font-size: 30px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    color: #eeeeee;
}

.item img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.item p{
    padding: 10px;
    font-size: 24px;
    z-index: 1;
    color: #fff;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.7);
}