*{
    padding: 0;
    margin: 0;
}

ul li{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* 헤더 영역 */
.header_area{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

header{
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 800px;
    height: 100%;
    display: flex;
}

.main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menu > li{
    position: relative;
    padding: 0 30px;
    text-align: center;
    line-height: 100px;
    height: 100%;
    font-size: 20px;
}

.main_menu > li:hover{
    font-weight: bold;
}

.main_menu li:hover .sub_menu{
    height: 210px;
    z-index: 1;
}

.sub_menu{
    position: absolute;
    width: 250px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 0 2px #444;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 100;
}

.sub_menu > li {
    height: 70px;
    line-height: 70px;
    text-align: left;
    padding-left: 10px;
}

.sub_menu li:hover{
    font-weight: bold;
}

.sgin_btn{
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sgin_btn div{
    width: 80px;
    text-align: center;
    color: #aaa;
}

.sgin_btn div:hover{
    color: #111;
    font-weight: bold;
}
/* 헤더 영역 */

/* 비주얼 영역 */
.visual_area{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider{
    position: relative;
    display: flex;
    animation: infinite linear slider 10s;
    width: 7700px;
    height: 100%;
}

@keyframes slider{
    0%, 23%{left: -1320px;}
    33%, 56%{left: -2840px;}
    66%, 90%{left: -4380px;}
    100%{left: -5920px;}
}

.slide{
    width: 1440px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 50px;
}

.slide img{
    width: 100%;
    height: 100%;
}
/* 비주얼 영역 */