*{
    padding: 0;
    margin: 0;
}

.gall{
    width: 100%;
    height: 700px;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.gall::-webkit-scrollbar{
    display: none;
}

.item{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}