*{
    padding: 0;
    margin: 0;
}

img{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 500px;
}

.content_area{
    width: 100%;
}

.search_area{
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
}

.search_area input{
    padding-left: 10px;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.search_area select{
    width: 180px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.content_window{
    width: 1350px;
    height: 250px;
    margin-top: 100px;
    margin-left: 10px;
}

.content{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 240px;
    padding: 5px;
    border-radius: 25px 5PX;
    background-color: #F3F3F3;
}

.card h3{
    margin-top: 20px;
    padding: 5px;
}

.card p{
    padding: 5px;
}

.card button{
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    font-weight: 900;
    float: right;
}

.btn_area{
    width: 1350px;
    height: 70px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.prev, .next{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}
