*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}
/* 헤더 영역 */
.header_area{
    position: relative;
    width: 100%;
    height:70px;
    border-bottom: 1px solid black;
}

header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100%;
    line-height: 70px;
    cursor: pointer;
}

nav{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.main_menu{
    width: 100%;
    height: 100%;
    display: flex;
}

.main_menu li{
    width: 150px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.main_menu li:hover{
    background-color: black;
    color: #fff;
}

.sgin_area{
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sgin_area label{
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}
/* 헤더 영역 */
/* 로그인 모달 */
.login_modal_area{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.login_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: #fff;
}

.login_modal h2{
    text-align: center;
    line-height: 70px;
}

.login_modal p{
    text-align: center;
    margin: 15px;
}

.login_modal input{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
}

.login_modal a{
    text-decoration: underline;
    color: blue;
}

.login_modal button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}

#login:checked~.login_modal_area{
    display: block;
}
/* 로그인 모달 */
/* 회원가입 모달 */
.join_modal_area{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.join_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: #fff;
}

.join_modal h2{
    text-align: center;
    line-height: 70px;
}

.join_modal p{
    text-align: center;
    margin: 15px;
}

.join_modal input{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
}

.join_modal a{
    text-decoration: underline;
    color: blue;
}

.join_modal button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}

.captcha{
    width: 360px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha img{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#join:checked~.join_modal_area{
    display: block;
}
/* 회원가입 모달 */
/* Up comming 축제 섹션 */
.visual{
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    animation: slider 10s infinite linear;
}

.slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.slide_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.slide_txt h1{
    font-size: 48px;
}

.slide button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
}
@keyframes slider{
    0%, 23%{left: 0}
    33%, 56%{left: -100%;}
    66%, 90%{left: -200%;}
    100%{left: -300%;}
}
/* Up comming 축제 섹션 */
/* BEST 축제 섹션 */
.best_festa_area{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.best_festa_area h1{
    position: absolute;
    top: 30px;
    text-align: center;
}

.best_festa{
    margin-top: 100px;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.festa_card{
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}

.festa_card img{
    width: 400px;
    height: 300px;
}

.festa_txt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 350px;
    height: 200px;
    background-color: #fff;
}

.festa_txt h3{
    text-align: center;
    line-height: 70px;
}

.festa_txt p{
    text-align: center;
}

.festa_txt span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.festa_txt label{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.festa_card button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fff;
}
/* 축제 모달창 */
.festa_modal_back{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.festa_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1440px;
    height: 600px;
    background-color: #fff;
}

.festa_modal img{
    width: 900px;
    height: 600px;
}

.festa_modal_txt{
    position: relative;
    width: 520px;
    height: 600px;
    padding-left: 20px;
}

.festa_modal_txt label{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.festa_modal_txt h1{
    margin-top: 150px;
}

.festa_modal_txt div{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.festa_modal_txt button{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

#festa:checked~.festa_modal_back{
    display: block;
}
/* 축제 모달창 */
/* BEST 축제 섹션 */
/* 푸터 영역 */
.footer_area{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
}

footer{
    width: 1440px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    color: #555;
    align-items: center;
}

.logo{
    width: 300px;
    height: 150px;
    line-height: 150px;
}

footer p{
    font-size: 20px;
}

.icon_area{
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 100px;
    height: 110px;
}

.icon img{
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}

.icon p{
    width: 100px;
    height: 10px;
    font-size: 10px;
    text-align: center;
}
/* 푸터 영역 */