*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}
/* 헤더 영역 */
.header_area{
    position: relative;
    width: 100%;
    height:70px;
    border-bottom: 1px solid black;
}

header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100%;
    line-height: 70px;
    cursor: pointer;
}

nav{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center
}

.main_menu{
    width: 100%;
    height: 100%;
    display: flex;
}

.main_menu li{
    width: 150px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.main_menu li:hover{
    background-color: black;
    color: #fff;
}

.sgin_area{
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sgin_area label{
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    background: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}
/* 헤더 영역 */
/* 로그인 모달 */
.login_modal_area{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.login_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: #fff;
}

.login_modal h2{
    text-align: center;
    line-height: 70px;
}

.login_modal p{
    text-align: center;
    margin: 15px;
}

.login_modal input{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
}

.login_modal a{
    text-decoration: underline;
    color: blue;
}

.login_modal button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}

#login:checked~.login_modal_area{
    display: block;
}
/* 로그인 모달 */
/* 회원가입 모달 */
.join_modal_area{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.join_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: #fff;
}

.join_modal h2{
    text-align: center;
    line-height: 70px;
}

.join_modal p{
    text-align: center;
    margin: 15px;
}

.join_modal input{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
}

.join_modal a{
    text-decoration: underline;
    color: blue;
}

.join_modal button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}

.captcha{
    width: 360px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha img{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#join:checked~.join_modal_area{
    display: block;
}
/* 회원가입 모달 */
/* Up comming 축제 섹션 영역 */
.visual{
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    animation: slider 10s infinite linear;
}

.slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.slide_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.slide_txt h1{
    font-size: 48px;
}

.slide button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
}
@keyframes slider{
    0%, 23%{left: 0}
    33%, 56%{left: -100%;}
    66%, 90%{left: -200%;}
    100%{left: -300%;}
}
/* Up comming 축제 섹션 영역 */