*{
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul li{
    padding-left: 0;
    list-style: none;
}

.highlight{
    color: #03c75a;
}

/* 헤더 영역 */
header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 60px;
    display: flex;
    z-index: 1;
}

.logo{
    width: 200px;
    height: 100%;
    text-align: left;
    line-height: 60px;
    font-size: 28px;
    font-weight: bolder;
}

nav{
    width: 1000px;
    height: 60px;
}

.main_menu{
    width: 1000px;
    height: 60px;
    display: flex;
    cursor: pointer;
}

.main_menu > li{
    padding: 0 20px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.main_menu > li:hover{
    background-color: #111;
    color: #fff;
}

.sub_menu{
    position: absolute;
    width: 250px;
    height: 0px;
    background-color: #fff;
    overflow: hidden;
    margin-left: -20px;
}

.sub_menu li{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
    color: #111;
}

.sub_menu li:hover{
    background-color: #111;
    color: #fff;
}

.main_menu > li:hover .sub_menu{
    height: 180px;
    transition: all 0.5s;
}

.sgin_area{
    position: absolute;
    right: 1px;
    width: 190px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sgin_area button{
    width: 90px;
    height: 40px;
    font-size: 16px;
}

.login_btn{
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

.join_btn{
    background-color: #111;
    color: #fff;
    border: 1px solid #111;
}
/* 헤더 영역 */
/* 코스 소개 페이지 */

.course_area{
    width: 100%;
    height: 1000px;
}

.course_area h1{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.course_content{
    width: 1880px;
    height: 900px;
    display: flex;
    justify-content: center;
}

.left{
    width: 600px;
    height: 100%;
    background-color: #fff;
}

.tab_area{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.move_area label{
    display: inline-block;
    padding: 5px 10px;
    color: gray;
    border-bottom: 2px solid gray;
}

.move_area input:checked + label{
    border-bottom: 2px solid #03c75a;
    color: #111;
    font-weight: 600;
}

.move_content{
    width: 122px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    border: 2px solid #03c75a;
    border-top: none;
    display: none;
}

#move01:checked~.move_content01,
#move02:checked~.move_content02{
    display: block;
}

.festa_area label{
    display: inline-block;
    padding: 5px 10px;
    color: gray;
    border-bottom: 2px solid gray;
}

.festa_area input:checked + label{
    border-bottom: 2px solid #03c75a;
    color: #111;
    font-weight: 600;
}

.festa_content{
    width: 384px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 2px solid #03c75a;
    border-top: none;
    display: none;
}

#festa01:checked~.festa_content01,
#festa02:checked~.festa_content02,
#festa03:checked~.festa_content03{
    display: block;
}

.map{
    position: relative;
    width: 1280px;
    height: 100%;
}

/* 코스 소개 페이지 */

/* JS */
/* 포인터 생성 */
.pointer{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #111;
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

/* 캔버스 */
canvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}

.festa_area img{
    position: absolute;
    top: 170px;
    right: 0;
    width: 1280px;
    height: 700px;
    display: none;
}

#festa01:checked~.img01,
#festa02:checked~.img02,
#festa03:checked~.img03{
    display: block;
}
/* 이동시간 리스트 */
.route-list{
    position: absolute;
    left: 0;
    top: 400px;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.route-item{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #03c75a;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
/* JS */

/* 푸터 영역 */
.footer_area{
    width: 100%;
    height: 100px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 1440px;
    height: 100px;
    display: flex;
    color: #555;
    align-items: center;
    justify-content: space-between;
}

.footer_logo{
    width: 200px;
    height: 100%;
    text-align: left;
    line-height: 100px;
    font-size: 28px;
    font-weight: bolder;
}

.copy{
    font-size: 20px;
}

.sns{
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns i{
    font-size: 44px;
}
/* 푸터 영역 */