*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}

.highlight{
    background-color: #F7C537;
    color: #fff;
}

/* 헤더 영역 */
.header_area{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 10;
}

header{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

nav{
    width: 1000px;
    height: 100px;
}

.main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menu > li{
    position: relative;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: 600;
}

.main_menu > li:hover{
    color: #F7C537;
}

.main_menu > li:hover .sub_menu{
    height: 300px;
}

.sub_menu{
    transition: all 0.5s;
    position: absolute;
    width: 320px;
    height: 0;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
    color: black;
    z-index: 2;
    padding-left: 10px;
}

.sub_menu01{
    margin-left: 40px;
}

.sub_menu02{
    margin-left: 20px;
}

.sub_menu li{
    width: 300px;
    line-height: 100px;
}

.sub_menu li:hover{
    color: #F7C537;
}

.sgin_btn{
    width: 210px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_btn{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.login_btn img{
    margin-top: 25px;
    width: 20px;
    height: 20px;
}

.join_btn{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.join_btn img{
    margin-top: 25px;
    width: 20px;
    height: 20px;
}
/* 헤더 영역 */
/* 비주얼 영역 */
.visual{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slider{
    width: 9600px;
    height: 100%;
    display: flex;
    position: relative;
    animation: infinite linear 10s slider;
    margin-left: 210px;
}

@keyframes slider{
    0% ,23%{left: -1500px;}
    33%, 56%{left: -3000px;}
    66%, 90%{left: -4500px;}
    100% {left: -6000px;}
}

.slide{
    position: relative;
    width: 1440px;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slide_txt{
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    z-index: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.slide_num{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10px;
    right: 250px;
    color: #fff;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 900;
    overflow: hidden;
}

.slide_num span{
    color: gray;

}

.slide_num p:nth-child(1){
    animation: infinite linear 10s slidenum1;
}
@keyframes slidenum1{
    0% ,23%{display: block;}
    33%, 56%{display: none;}
    66%, 90%{display: none;}
    91%, 100% {display: block;}
}
.slide_num p:nth-child(2){
    animation: infinite linear 10s slidenum2;
}
@keyframes slidenum2{
    0% ,23%{display: none;}
    33%, 56%{display: block;}
    66%, 90%{display: none;}
    100% {display: none;}
}
.slide_num p:nth-child(1){
    animation: infinite linear 10s slidenum3;
}
@keyframes slidenum3{
    0% ,23%{display: none;}
    33%, 56%{display: none;}
    66%, 90%{display: block;}
    91%, 100% {display: none;}
}
/* 비주얼 영역 */
/* 공지사항 영역 */
.notice_area{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.notice_area h1{
    position: absolute;
    top: 100px;
    right: 230px;
}

.notice_box{
    margin-top: 100px;
    width: 1440px;
    height: 350px;
}

.notice_box label{
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-style: 18px;
    font-weight: 900;
    color: gray;
}

.notice_box input:checked + label{
    border-bottom: 2px solid black;
    color: black;
}

.notice{
    display: none;
    justify-content: space-between;
}

#notice01:checked~.notice01,
#notice02:checked~.notice02,
#notice03:checked~.notice03{
    display: flex;
}

.notice_img{
    position: relative;
    width: 600px;
    height: 300px;
}


.img_front{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 250px;
    z-index: 1;
    border-radius: 20px;
}

.img_back{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 250px;
    filter: brightness(50%);
    border-radius: 20px;
}

.notice_content{
    width: 700px;
    height: 300px;
}

.notice_content div{
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    border-bottom: 1px solid black;
    font-weight: 900;
}

.notice_content div:hover{
    color: #F7C537;
}

.notice_content div span{
    padding-right: 20px;
    color: grey;
    font-weight: 100;
}
/* 공지사항 영역 */
/* 갤러리 영역 */
.gall_area{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #E5E6E8;
    padding-bottom: 50px;
}

.gall_area > h1{
    position: absolute;
    left: 230px;
    top: 60px;
}

.gall{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 900px;
    margin-top: 100px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    flex-direction: column;
}

.gall::-webkit-scrollbar{
    display: none;
}

.gall_img{
    position: relative;
    width: 100%;
    height: 100%;
    flex: none;
    scroll-snap-align: start;
}

.gall_img img{
    width: 100%;
    height: 100%;
}

.gall_img h1{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 갤러리 영역 */
/* 푸터 영역 */
.footer_area{
    width: 100%;
    height: 100px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 1440px;
    height: 100px;
    display: flex;
    color: #555;
    align-items: center;
    justify-content: space-between;
}

.footer_logo{
    width: 200px;
    height: 100%;
    text-align: left;
    line-height: 100px;
    font-size: 28px;
    font-weight: bolder;
}

.copy{
    font-size: 20px;
}

.sns{
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sns i{
    font-size: 44px;
}
/* 푸터 영역 */

/* 달빛기행축제란 서브페이지 */
/* 소개 영역 */
.sub01_introduce_area{
    position: relative;
    width: 100%;
}

.sub01_introduce_area img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.sub01_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.sub01_txt h3{
    font-size: 64px;
    padding: 20px;
}

.sub01_txt p{
    font-size: 18px;
}

.sub_txt{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}
/* 소개 영역 */
/* 이용수칙 영역 */
.danger_area{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.danger_content{
    width: 1300px;
    height: 300px;
    padding: 35px 70px;
    border: 1px dashed #ff9108;
    border-radius: 20px;
}

.danger_content h1{
    width: 100%;
    height: 60px;
}

.danger_content div{
    width: 100%;
    height: 59px;
    line-height: 59px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: dashed 1px #ff9108;
}

.danger_content div span{
    color: #fff;
    background-color: #ff9108;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 5px;
}
/* 이용수칙 영역 */

/* 관람 동선 안내 영역 */
.map_area{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.map_content{
    position: relative;
    width: 1440px;
    height: 800px;
}

.map_content img{
    width: 100%;
    height: 100%;
}

.map_content button{
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
}

.map_content button:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.map_btn01{
    position: absolute;
    top: 150px;
    left: 600px;
}

.map_btn02{
    position: absolute;
    top: 340px;
    left: 850px;
}

.map_btn03{
    position: absolute;
    top: 740px;
    left: 530px;
}
/* 관람 동선 안내 영역 */
/* 달빛기행축제란 서브페이지 */

/* 문화달력 페이지 */
.calender_area{
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calender_box{
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calender_content{
    width: 530px;
    height: 100%;
}

.search_box{
    width: 410px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.search_box input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    border: #111 solid 1px;
    border-radius: 5px;
}

.search_box button{
    width: 90px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

.calender_btn{
    width: 600px;
    height: 60px;
    margin-left: 10px;
}

.calender_btn button{
    width: 90px;
    height: 40px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.calender_btn select{
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.calender_card{
    margin-top: 50px;
    width: 100%;
    height: 630px;
}

.calender_card h1{
    height: 60px;
    line-height: 60px;
}

.calender_card img{
    width: 530px;
    height: 430px;
}

.calender_card h3{
    padding: 10px 0 10px 3px;
}

.calender_card p{
    font-size: 18px;
    padding-left: 3px;
}

table{
    border-collapse: collapse;
}

.calender{
    width: 908px;
    height: 100%;
}

.calender h3{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 34px;
}

.calender th, .calender td{
    width: 130px;
    height: 130px;
    font-size: 28px;
    text-align: center;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.gray{
    color: gray;
}

.count25{
    background-color: #eee;
    border-radius: 15px;
}
/* 문화달력 페이지 */